@import url('../../Assets/css/estilosGenerales.css');

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(71, 71, 71);
    /* para centrar un elemento */
    display: grid;
    place-items: center;
    font-family: "Special Gothic", sans-serif;
}

.tarjeta{
    width:300px;
    height: 500px;;

}

.cabecera{
    width: 100%;
    height: 60%;
    background-color: rgb(224, 224, 224);
    border-radius: 20px 20px 0 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.fotoPerfil{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
}
.datosPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datos{
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0  20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:10px;
}

.contenedorStats{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span{
        text-align: center;
    }
}

.acciones{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;

}

.btnMensaje{
    background-color: rgb(60, 212, 212);
    height: 40px;
    border: none;
    border-radius: 20px;
}

.btnInfo{
    background-color: transparent;
    border: none;
}