:root{
    --primary:#23D3F2;
    --secondary:#0A929C;
    --lightText:#B8B8B8;
    --darkText:#919191;
}

a{
    text-decoration: none;

}

body{
    min-height: 100vh;
    width: 100vw;
    color: black;
    font-family: "Aoboshi One", serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
}
.container__top{
    width: 100%;
    height: 508px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.container__header-img{
    width: 100%;
    height: 360px;
    position: relative;
    font-size: x-small;
    .header__text{
        color: white;
        position: absolute;
        bottom: 50px;
        padding: 20px;
        h3{
            font-weight: 500;
            font-size: 20px;
        }
        
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .fa-xmark{
        position: absolute;
        top:0 ;
        left: 0;
        color: white;
        padding: 30px 20px;
    }
    .fa-cart-shopping{
        color: white;
        padding: 30px 20px;
        position: absolute;
        top:0 ;
        right: 0;
    }
    .fa-cart-shopping:hover{
        text-shadow:  0px 1px 10px grey;

    }
}
.container__menu{
    width: 100%;
    height: 148px;
    display: flex;
    padding:  40px 10px ;
    align-items: center;
    font-family: "Saira Condensed", sans-serif;
    color: var(--darkText);
    overflow-x: scroll;
    scrollbar-width: 0px;
    .menu{
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 20px;
        list-style-type:none;
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:fit-content;
        width: fit-content;
        padding: 10px;
        gap: 25px;
    }
    p{
    font-size: 8px ;

    }
}
.search-bar{
    position: absolute;
    background-color: white;
    top: 334px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 323px;
    height: 46px;
    box-shadow:  0px 1px 10px grey;

}
.search-bar__icon{
    flex: 1 1 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon--1{
        background-color: var(--secondary);
        color: white;
}
.icon--2{
        background-color: white;
        color:var(--secondary);
}
.icon--2:hover{
    background-color: var(--secondary);
    color: white;
}
.search-bar__input{
    flex: 4 4 0;
    width: 0;
}
.container__reco{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    h4{
        font-family: "Inter", sans-serif;
        font-weight:400;
        color: var(--lightText);
        font-size: 12px;
    }
}


.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  20px 10px ;
    gap: 35px;
}

.restaurant-card{
    width: 361px;
    height: 146px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    box-shadow:  0px 10px 20px grey;
    .restaurant-card__name{
        font-family: "Aoboshi One", serif;
        font-size: 16px;
        color: black;
    }
}

.restaurant-card__image{
    width: 169px;
    height: 100%;
    border-radius:  15px 0 0px 15px;
    img{
        border-radius:  15px 0 0px 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.restaurant-card__info{
    background-color: white;
    width: 217px;
    height:100%;
    border-radius: 2px;
    padding: 15px 20px ;
    border-radius:   0px 0px 15px 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .restaurant-card__text{
        color: var(--lightText);
        font-size: 12px;
        font-weight:400;
    }
}

.restaurant-card__rating{
    width: 43px;
    height: 43px;
    border-radius:  10px 0 10px 0;
    background-color:var(--primary);
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.info__star-rating{
    display: flex;
    align-items: center;
    gap: 10px;
}
.star-rating{
    color: var(--primary);
}

.rating{
    font-size: 10px;
    color: var(--lightText);
}


.resto__info{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
    background-color: #F5F5F5;
    color: var(--darkText);
    overflow-y: hidden;
    padding: 5px 10px;
}
.info_title{
    width: 100%;
    padding: 10px;
    h3{
        color: black;
    }
}
.info_detail{
    width: 100%;
    height: 113px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        flex: 1 1 0;
        width: 0;
    }
}

.info_text{
    width: 100%;
    padding: 10px;
}
.nav-menu{
    width: 100%;
    height: 58px;
    display: flex;
    background-color: white;
    position: fixed;
    bottom: 0;
    .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 0;
        width: 0;
    color: var(--darkText);

    }
    
    .select{
        border-top:5px solid #0A929C;
    color: black;

    }
}
.nav-link:hover{
    color: black;
    text-shadow: 1px 5px  10px  grey;

}

.container__header{
    width: 100%;
    height: 58px;
    display: flex;
    background-color: white;

    .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 0;
        width: 0;
        color: var(--darkText);

    }
    .header__page{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 40px;
        justify-content: center;
        flex: 6 6 0;
        width: 0;
    }

}
.container__platos{
    width: 100%;
    height: fit-content ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 10px;
    overflow-y: scroll;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;

}
.plato{
    height: 150px;
    width: 380px;
    display: flex;
    align-items: center;
    .plato__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        height: 100%;
        flex:2;
        img{
            height: 150px;
            width: 150px;
        }
    }
    .plato__description{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        color: var(--darkText);
        flex:3;
        
        h3{
            font-size: 24px;
            font-weight: 400;
        }
        p{
            font-size: 15px;
        }
    }
    .precio{
        background-color: var(--primary);
        height: 32px;
        width: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px 0 10px 0 ;
    }
    

}

.plato_info{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45;
    background-color: #F5F5F5;
    color: var(--darkText);
    overflow-y: hidden;
    padding: 10px 30px;
    .info_text{
        width: 100%;
        padding: 5px;
    }
}
.plato_title{
    display: flex;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    color: black;
    padding: 5px;
    .precio{
        background-color: var(--primary);
        height: 32px;
        width: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: white;
        border-radius: 10px 0 10px 0 ;
    }
    
}

.cantidad{
    background-color: var(--primary);

}

@media screen and (orientation:portrait) {
    .container-card{
        flex-direction: column;
        gap:35px;
    }
}